@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Jersey+25&family=Sedan:ital@0;1&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: rgba(49, 28, 241, 0.523);
}


.container {
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.box {
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 600px; 
    width: 400px;
    background-image: linear-gradient(to bottom right, rgb(120, 6, 250), rgb(249, 10, 162));
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
}

.btn {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white; 
    background-image: linear-gradient(to bottom left, rgb(17, 32, 247), rgb(0, 136, 255));
    border-radius: 10px; 
    padding: 30px 60px;
    cursor: pointer; 
    animation-name: color;
    animation-duration: 3s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    box-shadow: 0 8px 0px #3c354a;
    transition-duration: 0s;
    position: relative;
    border: none;
    margin-top: 100px;
}

.btn:hover{
    top: 5px;
    box-shadow: 0 3px 0px #3c354a;
    background-image: linear-gradient(to bottom left, rgb(41, 45, 99), rgb(0, 136, 255));
    }

@keyframes color {
    from {
      color: #f6ff00;
    }

    to {
      color: #a75f02;
    }
  }

.visible{
    animation-name: vis;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}

@keyframes vis{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.around{
    position: relative;
    margin-top: 200px;
    margin-right: 900px;
}

.earth {
    position: absolute;
}

.moon {
    position: absolute;
    animation: AroundEarth 10s linear infinite;
}

@keyframes AroundEarth {
    from {
        transform: rotate(0deg) translateX(60px); 
    }
    to {
        transform: rotate(360deg) translateX(60px); 
    }
}


.rectangle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 800px;
    margin-top: 150px;
    position: absolute;
    background-image: linear-gradient(to bottom left, rgb(247, 6, 6), rgb(255, 247, 6));
    transition: all 0.3s ease;
    animation: WidthHeight;
    animation-duration: 4s; 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}

@keyframes WidthHeight{
    from{
        width: 200px;
        height: 200px;
    }

    to{
        width: 300px;
        height: 300px; 
    }
}

.car{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    animation: go-right 6s infinite alternate;
}

@keyframes go-right {
    100% {
        transform: rotateY(180deg);
    }

    from{
        left: 50px;
    }

    to{
        left: calc(100% - 150px); 
    }
}